body {
  background: #191414;
  margin: 0 1vw;
  font-family: Roboto;
  font-weight: 400;
}

.container {
  width: 98vw;
  height: 98vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  text-align: center;
  margin: 5vh 0;
}

.logo img {
  width: 40vw;
}

.login_submit {
  width: 15vw;
  height: 10vh;
  outline: none;
  background-color: #1DB954;
  border: unset;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  font-size: 2.5vw;
  font-weight: 700;
  border-radius: 10px;
  padding: 1vh 1vw;
  margin: 5vh 0;
  transition: .1s ease-in-out;
}

.login_submit:hover,
.login_submit:active {
  color: #1DB954;
  background-color: #fff;
}

.credits {
  width: 50vw;
  margin-top: 5vh;
}

.credits p {
  font-size: 0.9vw;
  color: #fff;
  text-align: center;
}