*{
    margin: 0;
    padding: 0;
    
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&family=Patrick+Hand&family=Roboto:wght@300;400;500&family=Tai+Heritage+Pro:wght@700&family=Ubuntu:wght@400;500;700&display=swap');


#principal{
    min-width: 1349px;
    max-width: 1450px;
    margin: 0 auto;
}

#pagina1{
    min-width: 1000px;
    max-width: 2000px;
    margin-top: 0;
    background-size: 2100px;
    height: 600px;
}

figure{
    margin-top: 0;
    margin-block-start: 0;
    margin-inline-start: 0;
}

#quadro4, #quadro3, #quadro1, #quadro2{
    float: left;
    width: 674px;
    height: 304px;
}

.quadros-amarelos{
    height: 400px;
    background-color: cadetblue;
}
.quadros-vermelhos{
    height: 400px;
    background-color: #a21e1d;
}

html, body, #container {
    width: 80%;
    height: 80%;
    margin: 0;
    padding: 0;
  }

.estilo{
    margin: 0 auto;
    margin-top: 60px;
    width: 50%;
    height: 50%;
    font-size: 28px;
    font-family: 'Anton', sans-serif;
    font-weight: 500;
}

.container{
    float: left;
    border: black;
}

.btn{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 200px;
    color: #fff;
    background-color: #F50A2C;
    border: 1px solid #F50A2C;
    color: #fff;
    font-size: 16px;
}

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 200px;
    color: #fff;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    background-color: #F50A2C;
    border: 1px solid #F50A2C;
    color: #fff;
    margin-right: 15px; /*espaçamento entre os btões*/
}

.btn:hover,
.btn:active {
    background-color: #cf6d17;
    border: 1px solid #cf6d17;
}