@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&family=Patrick+Hand&family=Roboto:wght@300;400;500&family=Tai+Heritage+Pro:wght@700&family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #191414;
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav {
    width: 90vw;
    height: 5vh;
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav .logo img {
    height: 5vh;
}

.dashboard {
    width: 90vw;
    height: 90vh;
}

.row {
    height: 44vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.perfil {
    width: 50%;
    margin-top: 5%;
}

.perfil h1,
.perfil h2 {
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    margin: 0;
    margin-bottom: 2%;
}

.perfil span,
.perfil h1 {
    color: #1DB954;
    font-weight: 900;
}

h1#estilo {
    font-size: 80px;
    text-transform: uppercase;
}

.compartilhar {
    margin-top: 4%;
}

button#compartilhar {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 200px;
    background-color: #1DB954;
    padding: 10px 30px;
}

button#compartilhar:hover,
button#compartilhar:active {
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    background-color: #179242;
}

button#logout {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 200px;
    background-color: #1DB954;
    padding: 10px 30px;
}

button#logout:hover,
button#logout:active {
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    background-color: #179242;
}

.grafico {
    width: 50%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.grafico#grafico-artistas {
    align-items: flex-start;

}

figure {
    width: 90%;
    height: 95%;
}

.anychart-credits,
.canvasjs-chart-credit {
    display: none;
}